# Exclude WordPress junk files with ? in filename (old permalink query strings)
# These were created by wget and are not valid filenames for git
*\?*
*.html\?*

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Thumbnails
Thumbs.db
